extends base-layout

block content
  div(class="center page-header") 
   h2.code Aaron Kaplowitz
   h4(style="font-weight: lighter") Computer Science Student
   span(class="label label-primary") University of Massachusetts Amherst, 2017
