extends base-layout
block content
  div.row
    div(class="col-xs-6 col-md-3")
      div(class="thumbnail")
        img(src="/images/multiplatform.png", alt="a picture")
        div(class="caption")
          h3 pvta-multiplatform
          p A hybrid mobile app for real time bus tracking.
          div.btn-group
            button(type="button", class="btn btn-default dropdown-toggle", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") details
              span.caret
            ul.dropdown-menu
              li Action
              li Another one
