.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5vh;
}

.Aaron-title {
  animation-name: Title-up;
  animation-duration: 3s;
  margin: 0;
  word-break: keep-all;
  word-wrap: normal;
  white-space: nowrap;
}

.App-link {
  color: #61dafb;
}

@keyframes Title-up {
  0% {
    justify-content: center;
    opacity: 0;
    font-size: 5vh;
    letter-spacing: 2vw;
  }
  50% {
    justify-content: center;
    margin-top: 10%;
  }
  100% {
    justify-content: flex-start;
    opacity: 1;
    font-size: 5vh;
    letter-spacing: normal;
  }
}

.Prompt-and-Buttons {
  animation-name: Prompt-in;
  animation-duration: 3s;
}

@keyframes Prompt-in {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Prompt-and-Buttons > h3 {
  font-size: 5rem;
}
.Prompt-and-Buttons > button {
  margin: 1vh;
}